{% extends 'base_site.html' %}


<br/>


{% load extra_template_tags %}
{% load panels %}

{% block content %}

<br/>

<p>Join or create a collection below.  You can also leave the collections you are a member of, or delete the collection if you have created it.</p>

<br/>

{# Create/join collection and manage collections panels #}

{% create_join_collection_panel 'Create/Join a Collection' 'create_join' %}

{% manage_collections_panel 'Manage Collections' 'manage_collections' %}


{# Client side templates #}

{#  an auto complete result when searching for a group #}
<script id="create_join_result" type="text/x-jquery-tmpl">
    <div class="create-join-result" id="create_join_result-${id}">
        ${name}
    </div>
</script>

{#  the first "create collection" result when no groups are found. #}
<script id="create_join_create_new" type="text/x-jquery-tmpl">
    <div class="create-join-result create-join-create-new" id="create_join_create_new">
        <a href="#" id="create_new_collection" data-collection_name="${term}">
            Create collection "${term}"
        </a>
    </div>
</script>

<script id="collection_template" type="text/x-jquery-tmpl">
    {% include_raw "../templates/collections/user_collection_template.html" %}
</script>


{% endblock %}
