{% extends 'base_site.html' %}

{% load extra_template_tags %}
{% load panels %}

{% block left %}

    {# Create/join collection and manage collections panels #}

    {% panel 'collections/partials/create_join_collection_panel.html' 'Create/Join a Collection' 'create_join' %}

    {% panel '../templates/partials/panel.html' 'Manage Your Collections' 'manage_collections' %}

    {# panel 'collections/partials/manage_admin_collections_panel.html' 'Manage Your Collections' 'manage_admin_collections' #}
    
    {# panel 'collections/partials/manage_member_collections_panel.html' 'Manage Your Memberships' 'manage_member_collections' #}

    {# panel 'collections/partials/manage_request_collections_panel.html' 'Manage Your Requests' 'manage_request_collections' #}

{% endblock %}

{% block right %}

    {% panel 'collections/partials/social_panel.html' 'Who else is using Concert?' 'social' %}

{% endblock %}

{% block clientside %}
    {# Client side templates #}

    {#  an auto complete result when searching for a group #}
    <script id="create_join_result_template" type="text/x-jquery-tmpl">
        {% include 'collections/clientside/create_join_result_template.html' %}
    </script>

    {#  the first "create collection" result when no groups are found. #}
    <script id="create_join_create_new_template" type="text/x-jquery-tmpl">
        {% include 'collections/clientside/create_join_create_new_widget.html' %}
    </script>
    
    <script id="manage_collection_template" type="text/x-jquery-tmpl">
        {% include "collections/clientside/manage_collection_widget.html" %}
    </script>

    <script id="manage_member_collection_template" type="text/x-jquery-tmpl">
        {% include "../templates/collections/clientside/manage_member_collection_widget.html" %}
    </script>
    
    <script id="manage_admin_collection_template" type="text/x-jquery-tmpl">
        {% include "../templates/collections/clientside/manage_admin_collection_widget.html" %}
    </script>
    
    <script id="manage_request_collection_template" type="text/x-jquery-tmpl">
        {% include "../templates/collections/clientside/manage_request_collection_widget.html" %}
    </script>

    <script id="collection_info_widget_template" type="text/x-jquery-tmpl">
        {% include "../templates/collections/clientside/collection_info_widget.html" %}
    </script>

    <script id="collection_request_widget_template" type="text/x-jquery-tmpl">
        {% include "../templates/collections/clientside/collection_request_widget_template.html" %}
    </script>

{% endblock %}
