{% extends 'base.html' %}

{% block content %}
<div id = "admin_container">
    {% include "base-header.html" %}
    
    <div id = "main_wrapper">
        {% if message %}
        <p class="alert admin">{{ message }}</p>
        {% endif %}
        
        
        <div class = "admin_module" id = "upload_audio">
            <h1>Upload Audio</h1>
            <h2>Choose an .ogg, .mp3, or .wav File to Upload</h2>
            <form method="POST" enctype="multipart/form-data" action="{% url upload_audio %}">
              {% for field in uploadFileForm %}
                {{ field }}
              {% endfor %}
              <input type='submit' name='create' value='Upload' />
            </form>        
        </div>
        
        
        
        <div class = "admin_module" id = "join_group">
            <h1>Request to Join Group</h1>
            <h2>Click on a Group to Request to Join</h2>
            <ul>
            {% for g in joinGroups %}
              <li><a href="{% url join_group g.id  %}">{{ g }}</a></li>
            {% endfor %}
            </ul>    
        </div>
        
        
        
        <div class = "admin_module" id = "accept_group_request">
            <h1>Manage Groups</h1>
            <h2>Click on a Group to Manage the Group</h2> 
            <ul>                
            {% for g in myGroups %}
              <li><a href='{% url manage_group user_id g.group.id %}'>{{ g.group.name }}</a> </li>
            {% endfor %}
            </ul>

            <br />

            <p><a href='{% url create_group user_id %}'>Create Group</a></p>
        </div>
        
        
        
        <br class = "clear"/>
        
        
    </div>

    
</div>

<script src="/js/admin.js"></script>
{% endblock %}
