{% extends 'base.html' %}

{% block content %}

<input type="hidden" id="segment_start" value="{{ audioSegment.beginning }}" />
<input type="hidden" id="segment_end" value="{{ audioSegment.end }}" />
<input type="hidden" value="{{ group_id }}" id="id_group_id" />
<input type="hidden" value="{{ audio_id }}" id="id_audio_id" />
<input type = "hidden" value = "{{ audioSegment.id }}" id = 'id_segment_id'/>
<input type="hidden" value="{{ jsonTags }}" id="jsonTags" />
<div id = "index_container">
    
    {% include "waveform-viewer-header.html" %}

    <div id = "main_wrapper">
        <div id = "left_wrapper">
            <h1>Currently editing the "{{ audioSegment.name }}" segment</h1>
            <br />
            <br />
            <form id = "new_segment">
                <h1>New Segment (on this audio file)</h1>
                <table>
                    {{ createSegmentForm.as_table }}
                    <tr><td></td><td style="float:right"><input type="button" id="new_submit_button" value="Create" /></td></tr>
                </table>
                <!--
                <p><input type = "text" value = "Group" id = "group_field"/></p>
                <p><input type = "text" value = "Tag" id = "tag_field"/></p>
                <p><input type = "text" value = "Label" id = "label_field"/></p>
                <p>
                    <input type = "text" value = "In Time" id = "in_time_field"/>
                    <input type = "text" value = "Out Time" id = "out_time_field"/>
                    </p>-->
            </form>
            <br />
            <br />
            <form id = "rename_segment" action = "/rename_segment/{{audioSegment.id}}/{{group_id}}/" method = "POST">
                <h1>Rename "{{ audioSegment.name }}"</h1>
                {{ renameSegmentForm.as_p }}
                <p><input type="button" id="rename_submit_button" value="Rename"  /></p>
             </form>
            <div>
                <span><a href="{% url download segment_id group_id "mp3" %}">Download as Mp3</a></span><br />
                <span><a href="{% url download segment_id group_id "ogg" %}">Download as Ogg</a></span>
            </div>
        </div>
        <!---asdsadas-->
        <div id = "right_wrapper">
            <div id="waveform_editor" class="waveform">        	
                <div id="editor_highlight" class="editor_highlight_container">
                    <div class="editor_highlight" id="editor_highlight_highlight"></div>
                </div>
                <div id="editor_highlight_static" class="editor_highlight_container" >
                    <div id="editor_highlight_static_tags" class="highlight_static_tags">
                        <span id="editor_highlight_static_tag_text" class="float_left"><!-- --></span>
                        <span id="addTagButton-{{ audioSegment.id }}" class="addTagButton button tag-plus float_left"><!-- --></span>
                        <div class="clear_both"><!-- --></div>
                    </div>
                    <div id="editor_highlight_static_highlight" class="editor_highlight "></div>
                </div>
                <div id="editor_playhead" class="playhead"></div>
                <div id="editor_image"><img class="waveform_image {{ no_show }}" id="waveform_editor_image" src = "{{ waveformEditorSrc }}" /></div>
            </div>
            <div id ="waveform_editor_push"></div>
            <div id = "comment_container">
                <h1>Comments on "{{ audioSegment.name }}" Segment</h1>
                {% if comments %}
                    {% for comment in comments %}
                    <div class = "comment">
                        <h2>{{comment.user.username }} wrote:</h2>
                        <p>{{ comment.comment }}</p>                          
                    </div>
                    {% endfor %}
                {% else %}
                    <div class = "comment">
                        <h2>There aren't any comments on this segment</h2>
                    </div>
                {% endif %}

                <form id = "comment_form" action="/comment/{{ audioSegment.id }}/{{ group_id }}/" Method = "POST">
                    <h1>Comment on "{{ audioSegment.name }}" Segment</h1>
                    {{commentForm.comment}}
                    <p><input type="submit" id="submit_comment_button" value="Submit" /></p> 
                </form>  
            </div>
        </div>
        <br style = "clear:both;"/>
    </div>
</div>

<script src="/js/edit.js"></script>
{% endblock %}
