{% extends 'base-header.html' %}

{% block header %}
  <div id = "login_wrapper">
    <p class = "error">{{ error }}</p>
    <img id = "logo" src = "/graphics/logo_large.png"/>
    <form id = "login" method="POST" action="{% url login_user %}">
        <input type = "text" name = "username" value = "User Name">
        <input type = "password" name = "password" value = "Password" autocomplete="off">
        <input type="hidden" name="next" value="{{ next }}" />
        <input type = "submit" name = "login" value = "Login">        
    </form>
        
    <br class = "clear"/>
  </div>

{% endblock %}

