{% extends 'base_site.html' %}
{% load extra_template_tags %}
{% block content %}


<div id="waveform_viewer_panel" class="waveform_viewer_panel">
    
</div>

<div id="audio_list_panel" class="audio_list_panel panel">
    <div id="audio_list_panel_header" class="audio_list_panel_header panel_header">
        <h3>Audio Files</h3>
        <div id="audio_list_switch_button" class="icon_button">
            
        </div>
    </div>
</div>

<p>Segments:</p>
{% for segment in segments %}
    
    {{ segment.name }} created by {{ segment.creator }} <br/>
    
{% endfor %}

<p>Files:</p>
{% for file in files %}
    {{ file.name }} uploaded by {{ file.uploader }} <br />
{% endfor %}

{% endblock %}
