{% extends 'base_site.html' %}
{% load extra_template_tags %}
{% load panels %}

{% comment %}
    @file   organize_collection.html
    This is the template for the organize page.    
{% endcomment %}

{% block main_content %}
    <div class="row">
        {#  We have a waveform viewer panel #}
        {% panel 'partials/panel.html' 'Waveform Viewer' 'waveform_viewer' %}
    </div>
    <div class="row">
        {# comments panel #}
        {% panel 'organize/partials/comment_list_panel.html' 'Comments' 'comment_list' %}

        {# and an audio list panel #}
        {% panel 'organize/partials/audio_list_panel.html' 'Audio' 'audio_list' %}
    </div>

    <div class="row">
      {% panel 'organize/partials/tags_panel.html' 'Tags' 'tag_list' %}
    </div>
{% endblock %}

{% block clientside %}
    {# and some client-side templates #}
    <script id="file_widget_template" type="text/x-jquery-tmpl">
        {% include_raw '../templates/clientside/file_widget.html' %}
    </script>


    <script id="segment_widget_template" type="text/x-jquery-tmpl">
        <div id="segment_widget-${id}" class="segment_widget">
            <div id="segment_name-${id}" class="segment_name-${id}">
                ${name}
            </div>
            <div id="segment_creator-${id}" class="segment_creator">
                by ${creator.username}
            </div>
            <div id="segment_audio-${id}" class="segment_audio">
                from: <span id="segment_audio_name-${id}" class="segment_audio_name">
                    ${audio.name}
                </span>
            </div>
        </div>
    </script>

{% endblock %}
