{% extends 'base_site.html' %}
{% load extra_template_tags %}
{% load panels %}

{% comment %}
    @file   organize_collection.html
    This is the template for the organize page.    
{% endcomment %}

{% block middle %}
    {#  We have two waveform viewer panels #}
    {% panel 'organize/partials/overview_waveform_panel.html' 'Overview Waveform' 'overview_waveform' %}
    {% panel 'organize/partials/detail_waveform_panel.html' 'Detail Waveform' 'detail_waveform' %}
{% endblock %}

{% block left %}
    {# a comment panel #}
    {% panel 'partials/panel.html' 'Comments' 'comment_list' %}
{% endblock %}

{% block right %}
    {# and an audio list panel #}
    {% panel 'organize/partials/audiolist_panel.html' '' 'audio_list' %}
{% endblock %}

{% block clientside %}

    {# and some client-side templates #}
    <script id="file_widget_template" type="text/x-jquery-tmpl">
        {% include 'organize/clientside/file_widget_template.html' %}
    </script>

    <script id="segment_widget_template" type="text/x-jquery-tmpl">
        {% include 'organize/clientside/segment_widget_template.html' %}
    </script>
    
    <script id="detail_waveform_top_file_template" type="text/x-jquery-tmpl">
        {% include 'organize/clientside/detail_waveform_top_file_template.html' %}
    </script>
    
    <script id="detail_waveform_top_segment_template" type="text/x-jquery-tmpl">
        {% include 'organize/clientside/detail_waveform_top_segment_template.html' %}    
    </script>
        
{% endblock %}
