{% extends 'base_site.html' %}

{% block content %}

<h3>Upload</h3>

{#  Form that user sees #}
<div id="upload_panel_container">
    <label for="file_uploader">Select a file to upload: </label>
    {# This will be populated client-side with the actual '<input>' element #}
    <div id="choose_file_container"></div>
    {# This is the listing of files that the user has chosen #}
    <div id="files_table" class="table"></div>
    <button id="upload_submit_button">Upload</button>

    {# Form that is actually used to send data to server #}
    <form id="server_upload_form" action="/audio/upload/" method="POST" class="hidden">
        {# Each file that needs to be uploaded will get injected into here #}
    </form>    
</div>



<!-- Client side templates -->
<script id="selected_file" type="text/x-jquery-tmpl">
    <div class="file table-row">
        <div class="file_name table-cell" id="file_name-${jsid}">${filename}</div>
        <div class="file_collection table-cell">
            <select id="file_collection_selector-${jsid}" class="file_collection_selector">
                <option value="-1">Please select a collection</option>
                {% for collection in user.collections.all %}
                    <option value="{{ collection.id }}">{{ collection.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class=" table-cell">
            <progress id="file_upload_progress-${jsid}" class="file_upload_progress" max=100 value=0 />
       </div>
    </div>
</script>

<script id="file_chooser_template" type="text/x-jquery-tmpl">
    <input type="file" multiple="false" id="file_chooser-${id}" accept="audio/*" />
</script>
{% endblock %}
