<div id="audio_wrap">
	<div id="audio_search_wrap">
			<div id="audio_search" class="darkNoise">
					Audio Search
			</div>
	</div>
	<div id="audio_bar" class="selected">
			<div class="title">
				TITLE
			</div>
			<div class="info">
				2:32 <span class="small_text">minutes of</span> something <span class="small_text">selected by</span> craig	
			</div>
			<div class="tags">
				TAG - TAG - TAG - TAG
			</div>				
	</div>
	<div id="audio_bar">
			<div class="title">
				TITLE
			</div>
			<div class="info">
				2:32 <span class="small_text">minutes of</span> something <span class="small_text">selected by</span> craig	
			</div>
			<div class="tags">
				TAG - TAG - TAG - TAG
			</div>	
	</div>
	{% extends "partials/panel.html" %}
	{% load buttons %}
</div>