{% extends 'partials/panel.html' %}

{% block header_content %}
{% endblock %}

{% block panel_content %}
<div id="detail_waveform_panel_top" class="detail_waveform_panel_top">
    <div id="detail_waveform_panel_top_left" class="detail_waveform_panel_top_left">
        {# top left client side template injected here #}
    </div>
    <div id="detail_waveform_panel_top_right" class="detail_waveform_panel_top_right">
        <b>2:16-3:57</b> of <b>PARENT ONE</b> on <b>2/13/10</b>
    </div>
</div>
<div id="detail_waveform_panel_middle" class="detail_waveform_panel_middle">
    <div id="detail_waveform_panel_buf_left" class="detail_waveform_panel_buf_left">
        <b>< <</b>
    </div>
    <div id="detail_waveform_panel_view" class="detail_waveform_panel_view">
        <h3>detail viewer</h3>
    </div>
    <div id="detail_waveform_panel_buf_right" class="detail_waveform_panel_buf_right">
        <b>> ></b>
    </div>
</div>
<div id="detail_waveform_panel_bottom" class="detail_waveform_panel_bottom">time</div>
<div id="detail_waveform_panel_tags" class="detail_waveform_panel_tags"><span class="tags">tag</font></div>
{% endblock %}
