{% load extra_template_tags %}

{% verbatim %}
<div class="user_collection table-row" id="user_collection-${id}">
    <div class="user_collection_name table-cell" id="user_collection_name-${id}">
        ${name}
    </div>
    
    <div class="user_collection_members table-cell" id="user_collection_members-${id}">
        ${num_users}{{if num_users ==  1}}user{{else}}users{{/if}}
    </div>
    
    <div class="user_collection_actions table-cell" id="user_collection_actions-${id}">
{% endverbatim %}
        {% block actions %}
        {% endblock %}
{% verbatim %}
    </div>

{% endverbatim %}

{% block extra_columns %}
{% endblock %}
