{% extends "collections/clientside/manage_collection_widget.html" %}

{% load extra_template_tags %}


{% block actions %}
    <button class="delete_collection" id="delete_collection-${id}">Delete this collection</button>
{% endblock %}

{% block extra_columns %}
{% verbatim %}
    <div id="user_collection_requests-${id} table-cell" class="user_collection_requests">
        {{if requests}}
            {{each(i, user) requests}}
                <div id="user_collection_request-${id}-${user.userid}" class="user_collection_request" data-user_id="${user.userid}" data-collection_id="${id}">
                    <div id="user_collection_request_user-${id}-${user.userid}" class="user_widget">
                        <div id="user_collection_request_user_username-${id}-${user.userid}" class="user_widget_username">
                            ${user.username}                            
                        </div>
                    </div>
                    <button id="approve_request-${id}-${user.userid}" class="approve_request">Approve</button>
                    <button id="deny_request-${id}-${user.userid}" class="deny_request">Deny</button>
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>
{% endverbatim %}
{% endblock %}