{% load extra_template_tags %}

{% verbatim %}
<div class="user_collection table-row">
    <div class="user_collection_name table-cell" id="user_collection_name-${id}">
        ${collection.get("name")}
    </div>
    
    <div class="user_collection_request_status table-cell">
        {{if status == 'p'}}
            Pending
            {{else}}{{if status == 'r'}}
                Revoked
                {{else}}{{if status == 'd'}}
                    Denied
                    {{else}}{{if status == 'a'}}
                        Approved
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
    </div>

    <div class="user_collection_actions table-cell">
        {{if status == 'p'}}
            <button class="revoke_request" id="revoke_request-${id}">Revoke request</button>
            {{else}}{{if status == 'r'}}
                Revoked
                {{else}}{{if status == 'd'}}
                    Denied
                    {{else}}{{if status == 'a'}}
                        Approved
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
        
    </div>

{% endverbatim %}
