{% load extra_template_tags %}

{% verbatim %}
<div class="user_collection table-row">
    <div class="user_collection_name table-cell" id="user_collection_name-${id}">
        ${name}
    </div>
    
    <div class="user_collection_members table-cell">
        ${users.length}{{if users.length ==  1}}user{{else}}users{{/if}}
    </div>
    
    <div class="user_collection_actions table-cell">
        <button class="delete_collection" id="delete_collection-${id}">Delete this collection</button>
    </div>
    
    <div class="user_collection_requests table-cell">
    </div>

</div>

{% endverbatim %}
