{% load extra_template_tags %}

{% verbatim %}
<div class="user_collection table-row">
    <div class="user_collection_name table-cell" id="user_collection_name-${id}">
        ${name}
    </div>
    
    <div class="user_collection_members table-cell">
        ${users.length}{{if users.length ==  1}}user{{else}}users{{/if}}
    </div>
    
    <div class="user_collection_actions table-cell">
        {{if user_is_admin}}
            You are the admin of this collection.
        {{else}}
            <button class="leave_collection" id="leave_collection-${id}">Leave this collection</button>
        {{/if}}
    </div>
</div>

{% endverbatim %}