{% load extra_template_tags %}

{% verbatim %}
<div class="user_collection table-row" id="user_collection-${id}">
    <div class="user_collection_name table-cell" id="user_collection_name-${id}">
        ${name}
    </div>
    
    <div class="user_collection_members table-cell" id="user_collection_members-${id}">
        ${num_users}{{if num_users ==  1}}user{{else}}users{{endif}}
    </div>
    
    <div class="user_collection_actions table-cell" id="user_collection_actions-${id}">
{% endverbatim %}
        {% block actions %}
        {% endblock %}
{% verbatim %}
    </div>

    <div id="user_collection_requests-${id} table-cell" class="user_collection_requests">
        {{if requests}}
            {{each(i, user) requests}}
                <div id="user_collection_request-${id}-${user.userid}" class="user_collection_request" data-user_id="${user.userid}" data-collection_id="${id}">
                    <div id="user_collection_request_user-${id}-${user.userid}" class="user_widget">
                        <div id="user_collection_request_user_username-${id}-${user.userid}" class="user_widget_username">
                            ${user.username}                            
                        </div>
                    </div>
                    <button id="approve_request-${id}-${user.userid}" class="approve_request">Approve</button>
                    <button id="deny_request-${id}-${user.userid}" class="deny_request">Deny</button>
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>
{% endverbatim %}