{% load extra_template_tags %}

{% verbatim %}
<div class="user_collection table-row" id="user_collection-${id}">
    <div class="user_collection_name table-cell" id="user_collection_name-${id}">
        ${name}
    </div>
    
    <div class="user_collection_members table-cell" id="user_collection_members-${id}">
        {{if num_users == 1}}
            1 user
        {{else}}
            ${num_users} users 
        {{/if}}
    </div>
    
    <div class="user_collection_actions table-cell" id="user_collection_actions-${id}">
        {{if admin == 1}}
            <button class="delete_collection" id="delete_collection-${id}" data-collection_id="${id}">Delete this collection</button>    
        {{else}}
            <button class="leave_collection" id="leave_collection-${id}" data-collection_id="${id}">Leave this collection</button>
        {{/if}}
    </div>

</div>
{% endverbatim %}