{% extends 'base.html' %}

{% block content %}
<div id = "index_container">
    
    {% include "waveform_viewer_header.html" %}

    <div id = "main_wrapper">
        <div id = "left_wrapper">
            <form id = "new_segment">
                <h1>New Segment</h1>
                <table>
                    {{ form.as_table }}
                    <tr><td /><td style="float:right"><input type="button" id="submit_button" value="Submit" /></td></tr>
                </table>
                <!--
                <p><input type = "text" value = "Group" id = "group_field"/></p>
                <p><input type = "text" value = "Tag" id = "tag_field"/></p>
                <p><input type = "text" value = "Label" id = "label_field"/></p>
                <p>
                    <input type = "text" value = "In Time" id = "in_time_field"/>
                    <input type = "text" value = "Out Time" id = "out_time_field"/>
                    </p>-->
            </form>               
        </div>
        <div id = "right_wrapper">
            <div id="waveform_editor" class="waveform">        	
                <div id="editor_highlight" ></div> 
                <div id="editor_playhead" class="playhead"></div>
                <div id="editor_image"><img class="waveform_image {{ no_show }}" id="waveform_editor_image" src = "{{ waveformEditorSrc }}" /></div>
            </div>     
        </div>
    </div>
</div>

<script src="/js/edit.js"></script>
{% endblock %}
