{% extends 'base/base.html' %}

{% block content %}
<div id = "index_container">
    {% include "include/waveform-viewer-header.html" %}

    <div id = "main_wrapper">
        <div id = "left_wrapper">
            <form id = "search">
                <input type = "text" value = "Search"/>            
            </form>

            <div id = "groups">
                <h1 class="inline">Groups</h1><span class="sidebar_manage_link"><a href="/users/{{ user.id }}/groups/">manage</a></span>
                <ul>
                    {% for group in group_list%}

                    {% comment %} Add "selected" class to the currently selected group. {% endcomment %}

                    {% ifequal group selected_group %}
                        <li class="group selected" id="group-{{ group.id }}">
                    {% else %}
                        <li class="group">
                    {% endifequal %}
                            <a href="?selected_group_id={{ group.id }}"> {{ group.name }} </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div id = "Tags">
                <h1 class="inline">Tags</h1><span class="sidebar_manage_link"><a href="/tags/manage">manage</a></span>
                <ul>
                    {% for tag in tag_list %}
                    
                        {% comment %} Add "selected" class to the currently selected tag. {% endcomment %}
                        
                        {% ifequal tag selected_tag %}
                            <li class="selected"><a href = "?selected_tag_id={{ tag.id }}">{{ tag.tag }}</a></li>
                        {% else %}
                            <li><a href = "?selected_tag_id={{ tag.id }}">{{ tag.tag }}</a></li>
                        {% endifequal %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id = "right_wrapper">
            <table class="segments_table">
                <thead>
                    <tr id = "title_bar">
                        <th>Tags</th>
                        <th>Label</th>
                        <th>Uploaded By</th>
                        <th>In</th>
                        <th>Out</th>
                        <th>Delete</th>
                        <th>temp Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% if segment_list %}
                        {% for segment in segment_list %}
                            {% comment %} For each segment row, store segment id in id attribute, and audio id in data-audioid attribute (this is valid HTML5) {% endcomment %}
                            <tr id="segment_row-{{ segment.id }}" class="segment_row" data-audioid="{{ segment.audio.id }}">
                                <td>{{ segment.tag_list }}</td>
                                <td>{{ segment.name }}</td>
                                <td>{{ segment.audio.user.username }}</td>
                                <td id="segment_start-{{ segment.id }}">{{ segment.beginning }}</td>
                                <td id="segment_end-{{ segment.id }}">{{ segment.end }}</td>
                                <td id="segment_delete-{{ segment.id }}">
                                    <span id="segmentDeleteButton-{{ segment.id }}-{{ selected_group.id }}" class="cross button segmentDeleteButton"><!-- --></span>
                                </td>
                                <td><a class="temp_edit_button" href="/edit/{{ segment.id }}/{{ selected_group.id }}/">Edit</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan = "5">No audio found.</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="/js/main.js"></script>
{% endblock %}
