{% comment %}

@file base_site.html
The base template for all pages.  All page templates will use this.

{% endcomment %}


{% load extra_template_tags %}

<!DOCTYPE>

<html>
  <head>
    <title>Concert</title>
    <link rel=StyleSheet href="/css/styles.css" type="text/css" media=screen>


    <script src="/js/lib/vendor/jquery-nightly.min.js"></script>
    <script src="/js/lib/vendor/jquery.tmpl.min.js"></script>
    <script src="/js/lib/vendor/jquery-ui-1.8.5.custom.min.js"></script>
    <script src="/js/lib/vendor/modernizr-1.6.min.js"></script>
    <script src="/js/lib/vendor/jquery.form.js"></script>
    
    <!-- 
       <script src="/js/lib/Waveform.js"></script>
       <script src="/js/lib/WaveformViewer.js"></script>
       <script src="/js/lib/WaveformEditor.js"></script>
       <script src="/js/lib/Highlighter.js"></script>
       <script src="/js/lib/HighlightViewer.js"></script>
       <script src="/js/lib/helpers.js"></script>
       <script src="/js/lib/WaveformPlayer.js"></script>
       <script src="/js/lib/VolumeSlider.js"></script>
       <script src="/js/lib/AudioPlayerBehavior.js"></script>
       -->
    <script src="/js/lib/ModalAlert.js"></script>        
    <script src="/js/lib/ConfirmModalAlert.js"></script>        
    <script src="/js/lib/Notifier.js"></script>
    <script src="/js/lib/AnimatedDots.js"></script>

    <script src="/js/lib/Button.js"></script>
    <script src="/js/lib/IconButton.js"></script>
    <script src="/js/lib/LargeIconButton.js"></script>
    <script src="/js/lib/LinkLargeIconButton.js"></script>
    <script src="/js/lib/UploadLinkLargeIconButton.js"></script>
    <script src="/js/lib/DashboardLinkLargeIconButton.js"></script>
    <script src="/js/lib/SettingsLinkLargeIconButton.js"></script>

    <script src="/js/lib/Widget.js"></script>
    <script src="/js/lib/CollectionWidget.js"></script>
    <script src="/js/lib/UploadFileWidget.js"></script>
    

    <script src="/js/lib/Panel.js"></script>
    <script src="/js/lib/GlobalOptionsPanel.js"></script>
    <script src="/js/lib/CreateJoinCollectionPanel.js"></script>
    <script src="/js/lib/ManageCollectionsPanel.js"></script>
    <script src="/js/lib/UploadPanel.js"></script>

      
    <script src="/js/organize.js"></script>
    <script src="/js/dashboard.js"></script>    
    <script src="/js/login.js"></script>    
    <script src="/js/collections.js"></script>    
    <script src="/js/upload.js"></script>    
    <script src="/js/lib/UIHelpers.js"></script>
    <script src="/js/global.js"></script>

</head>
<body>

    <div id="modal-container">
        <div id="modal-overlay" class="modal-overlay">
          <div id="modal-overlay-background" class="modal-overlay-background"></div>
          <div id="modal-overlay-pane" class="modal-overlay-pane corner-all">
            <div id="modal-overlay-header" class="modal-overlay-header blue corner-top">
              <h2 id="modal-overlay-header" class="modal-overlay-header">
                <!-- This is where the content for a modal alert title goes -->
              </h2>
              <button id="modal-overlay-close-button" class="modal-overlay-close-button image-button cross"><!-- --></button>
              <div class="clear"></div>
            </div>
            <div id="modal-overlay-content" class="modal-overlay-content">
               <!-- This is where the modal content goes -->
            </div>
            <div id="modal-overlay-confirm" class="modal-overlay-confirm corner-bottom">
              <button id="modal-overlay-confirm-ok" class="corner-all text-button blue control"></button>
              <button id="modal-overlay-confirm-cancel" class="corner-all text-button control blue"></button>
              <div class="clear"></div>
            </div>
          </div>
        </div>
    </div>
    
    {% if user.is_authenticated %}
        {% include 'header.html' %}
    {% endif %}
    
    {% block content %}

    
    {% endblock %}
    
    <script id="collection_dropdown_options" type="text/x-jquery-tmpl">
        {% include_raw "../templates/collection_dropdown_options.html" %}
    </script>
    
    <script>
        var pagePath = '{{ js_page_path }}'
    </script>
    
</body>
</html>
