{% comment %}

@file base_site.html
The base template for all pages.  All page templates will use this.

{% endcomment %}


{% load extra_template_tags %}
{% load panels %}

<!DOCTYPE>

<html>
  <head>
    <title>Concert</title>
    <link rel=StyleSheet href="/css/styles.css" type="text/css" media=screen>

    
    <script src="/js/lib/vendor/jquery-1.4.3.min.js"></script>
    <script src="/js/lib/vendor/jquery.tmpl.min.js"></script>
    <script src="/js/lib/vendor/jquery-ui-1.8.5.custom.min.js"></script>
    <script src="/js/lib/vendor/modernizr-1.6.min.js"></script>
    <script src="/js/lib/vendor/jquery.form.js"></script>
    <script src="/js/lib/vendor/underscore-min.js"></script>
    <script src="/js/lib/vendor/json2.js"></script>
    <script src="/js/lib/vendor/backbone-min.js"></script>
    
    {# Models #}
    <script src="/js/lib/models/Collection.js"></script>
    <script src="/js/lib/models/User.js"></script>
    
    {# Views #}
    <script src="/js/lib/views/UserCollectionSelectView.js"></script>
    
    <script src="/js/lib/notifications/ModalAlert.js"></script>        
    <script src="/js/lib/notifications/ConfirmModalAlert.js"></script>        
    <script src="/js/lib/notifications/Notifier.js"></script>

    <script src="/js/lib/helpers/AnimatedDots.js"></script>
    <script src="/js/lib/helpers/UIHelpers.js"></script>

    <script src="/js/lib/buttons/Button.js"></script>
    <script src="/js/lib/buttons/IconButton.js"></script>
    <script src="/js/lib/buttons/LargeIconButton.js"></script>
    <script src="/js/lib/buttons/LinkLargeIconButton.js"></script>
    <script src="/js/lib/buttons/UploadLinkLargeIconButton.js"></script>
    <script src="/js/lib/buttons/DashboardLinkLargeIconButton.js"></script>
    <script src="/js/lib/buttons/SettingsLinkLargeIconButton.js"></script>

    <script src="/js/lib/widgets/Widget.js"></script>
    <script src="/js/lib/widgets/ManageCollectionWidget.js"></script>
    <script src="/js/lib/widgets/UploadFileWidget.js"></script>
    <script src="/js/lib/widgets/FileWidget.js"></script>
    <script src="/js/lib/widgets/SegmentWidget.js"></script>
    <script src="/js/lib/widgets/CollectionSearchResultWidget.js"></script>
    <script src="/js/lib/widgets/CollectionInfoWidget.js"></script>
    <script src="/js/lib/widgets/CollectionRequestWidget.js"></script>
    <script src="/js/lib/widgets/UserWidget.js"></script>
    

    <script src="/js/lib/panels/Panel.js"></script>
    <script src="/js/lib/panels/GlobalOptionsPanel.js"></script>
    <script src="/js/lib/panels/CreateJoinCollectionPanel.js"></script>
    <script src="/js/lib/panels/ManageCollectionsPanel.js"></script>
    <script src="/js/lib/panels/UploadPanel.js"></script>
    <script src="/js/lib/panels/WaveformViewerPanel.js"></script>
    <script src="/js/lib/panels/AudioListPanel.js"></script>
    
    <script src="/js/lib/pages/Page.js"></script>
    <script src="/js/lib/pages/LoggedInPage.js"></script>
    <script src="/js/lib/pages/DashboardPage.js"></script>
    <script src="/js/lib/pages/CollectionsPage.js"></script>
    <script src="/js/lib/pages/UploadPage.js"></script>
    <script src="/js/lib/pages/OrganizePage.js"></script>
    <script src="/js/lib/pages/LoginPage.js"></script>

      
    <script src="/js/global.js"></script>
    <script src="/js/init.js"></script>

</head>
<body>

    <div id="modal-container">
        <div id="modal-overlay" class="modal-overlay">
          <div id="modal-overlay-background" class="modal-overlay-background"></div>
          <div id="modal-overlay-pane" class="modal-overlay-pane corner-all">
            <div id="modal-overlay-header" class="modal-overlay-header blue corner-top">
              <h2 id="modal-overlay-header" class="modal-overlay-header">
                <!-- This is where the content for a modal alert title goes -->
              </h2>
              <button id="modal-overlay-close-button" class="modal-overlay-close-button image-button cross"><!-- --></button>
              <div class="clear"></div>
            </div>
            <div id="modal-overlay-content" class="modal-overlay-content">
               <!-- This is where the modal content goes -->
            </div>
            <div id="modal-overlay-confirm" class="modal-overlay-confirm corner-bottom">
              <button id="modal-overlay-confirm-ok" class="corner-all text-button blue control"></button>
              <button id="modal-overlay-confirm-cancel" class="corner-all text-button control blue"></button>
              <div class="clear"></div>
            </div>
          </div>
        </div>
    </div>
    
    <div id="layout" class="layout">
        <div id="layout_top" class="layout_top">
            {% if user.is_authenticated %}
                {% panel 'partials/global_options_panel.html' 'Concert' 'global_options' %}
            {% else %}
                <h1>Concert</h1>
                <h2>Login</h2>
            {% endif %}
        </div>

        <div id="layout_middle" class="layout_middle">
            {% block middle %}{% endblock %}
        </div>

        <div id="layout_bottom" class="layout_bottom">
            {% block bottom %}{% endblock %}
        </div>
    </div>
    
    {% block clientside %}{% endblock %}
    {# Some client-side templates that are used on most pages #}
    <script id="collection_selector_options_template" type="text/x-jquery-tmpl">
        {% include "../templates/clientside/collection_dropdown_options.html" %}
    </script>
    
    {# Send variable to javascript with recognizable path so we know what page we're on #}
    {% if js_page_path %}
        <script>
            {# Initialize the page with our current page path and default data #}
            initializeUI('{{ js_page_path }}',
                {% if data %}
                    {% autoescape off %}
                        {{ data }}
                    {% endautoescape %}
                {% else %}
                    {% autoescape off %}
                        {}
                    {% endautoescape %}
                {% endif %}
            );
        </script>
    {% endif %}
    
</body>
</html>
