{% comment %}

@file base.html
The base template for all pages.  All page templates will use this.

{% endcomment %}

<!DOCTYPE>

<html>
<head>
    <title>Concert</title>
    <link rel=StyleSheet href="/css/styles.css" type="text/css" media=screen>

    <script src="/js/lib/vendor/jquery-nightly.min.js"></script>
    <script src="/js/lib/vendor/jquery.tmpl.min.js"></script>
    <script src="/js/lib/vendor/jquery-ui-1.8.5.custom.min.js"></script>
    <script src="/js/lib/vendor/modernizr-1.5.min.js"></script>
    
    <!-- 
    <script src="/js/lib/Waveform.js"></script>
    <script src="/js/lib/WaveformViewer.js"></script>
    <script src="/js/lib/WaveformEditor.js"></script>
    <script src="/js/lib/Highlighter.js"></script>
    <script src="/js/lib/HighlightViewer.js"></script>
    <script src="/js/lib/helpers.js"></script>
    <script src="/js/lib/WaveformPlayer.js"></script>
    <script src="/js/lib/VolumeSlider.js"></script>
    <script src="/js/lib/AudioPlayerBehavior.js"></script>
-->
    <script src="/js/lib/ModalAlert.js"></script>        
    <script src="/js/lib/ConfirmModalAlert.js"></script>        
    <script src="/js/lib/Notifier.js"></script>        
    <script src="/js/dashboard.js"></script>    
    <script src="/js/login.js"></script>    
    <script src="/js/collections.js"></script>    
    <script src="/js/upload_audio.js"></script>    
    <script src="/js/lib/UIHelpers.js"></script>
    <script src="/js/global.js"></script>

</head>
<body>

    <div id="modal-container">
        <div id="modal-overlay" class="modal-overlay">
          <div id="modal-overlay-background" class="modal-overlay-background"></div>
          <div id="modal-overlay-pane" class="modal-overlay-pane corner-all">
            <div id="modal-overlay-header" class="modal-overlay-header blue corner-top">
              <h2 id="modal-overlay-header" class="modal-overlay-header">
                <!-- This is where the content for a modal alert title goes -->
              </h2>
              <button id="modal-overlay-close-button" class="modal-overlay-close-button image-button cross"><!-- --></button>
              <div class="clear"></div>
            </div>
            <div id="modal-overlay-content" class="modal-overlay-content">
               <!-- This is where the modal content goes -->
            </div>
            <div id="modal-overlay-confirm" class="modal-overlay-confirm corner-bottom">
              <button id="modal-overlay-confirm-ok" class="corner-all text-button blue control"></button>
              <button id="modal-overlay-confirm-cancel" class="corner-all text-button control blue"></button>
              <div class="clear"></div>
            </div>
          </div>
        </div>
    </div>
    
    {% comment %}
        If user is not logged in, don't display navigation and stuffs.
    {% endcomment %}
    
    {% if user %}
        <div id="page_header">
            <div class="page_header_left">
                <h1>Concert</h1>
                <h2>{{ page_name }}</h2>
            </div>
            <div class="page_header_middle">
                <label for="collection_selector">Organize:</label>
                <select id="collection_selector" class="collection_selector">
                    <option value="-1">Please select a collection</option>
                    {% for group in user.groups.all %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="page_header_right">
            
                {% if page_name != 'Dashboard' %}
                    <a href="{% url dashboard %}" id="dashboard_button" title="Concert dashboard">Cool "dashboard" icon</a>
                {% endif %}
            
            
                {% if page_name  != 'Collections' %}
                    <a href="{% url manage_collections %}" id="manage_collections_button" title="Manage collections, connect with friends" class="">Settings icon</a>
                {% endif %}
            
                {% if page_name != 'Upload Audio' %}
                    <a href="{% url upload_audio %}" id="upload_audio_button" title="Upload audio to one of your collections">Cool "upload" icon</a>
                {% endif %}            
            
            </div>
            <div class="clear"></div>
        </div>
    {% endif %}
    
    {% block content %}

    {% endblock %}
</body>
</html>
