<header id="page_header">
  <aside class="page_header_left">
    <h1>Concert</h1>
    <h2>{{ page_name }}</h2>
  </aside>
  <nav class="page_header_middle">
    <label for="collection_selector">Organize:</label>
    <select id="collection_selector" class="collection_selector">
      <option value="-1">Please select a collection</option>
      {% for group in user.groups.all %}
      <option value="{{ group.id }}">{{ group.name }}</option>
      {% endfor %}
    </select>
  </nav>
  <nav class="page_header_right">
    
    {% comment %}
    I think the nav for this part should be consistent on all pages.  i.e., the dashboard button should be viewable from the dashboard page, but highlighted in some way to signify that you're on that page.  
    {% endcomment %}

    {% if page_name != 'Dashboard' %}
    <a href="{% url dashboard %}" id="dashboard_button" title="Concert dashboard">Cool "dashboard" icon</a>
    {% endif %}
    
    {% if page_name  != 'Collections' %}
    <a href="{% url manage_collections %}" id="manage_collections_button" title="Manage collections, connect with friends" class="">Settings icon</a>
    {% endif %}
    
    {% if page_name != 'Upload Audio' %}
    <a href="{% url upload_audio %}" id="upload_audio_button" title="Upload audio to one of your collections">Cool "upload" icon</a>
    {% endif %}            
    
  </nav>
  <div class="clear"></div>
</header>
