{% extends 'base.html' %}

{% block content %}
<h3>Audio File</h3>
<p>Audio file name: {{ audio.filename }}</p>
<p><a href="{{ audio.wavfile.url }}">{{ audio.wavfile.url }}</a></p>
<p><a href="{{ audio.oggfile.url }}">{{ audio.oggfile.url }}</a></p>
<p><a href="{{ audio.mp3file.url }}">{{ audio.mp3file.url }}</a></p>

<br /><br />
<p><img src="{{ audio.waveformViewer.url }}" alt="image not found" /></p>
<p><img src="{{ audio.waveformEditor.url }}" alt="image not found" /></p>
<!--<p><a href="{% url delete_audio audio.id %}">Delete the file</a></p>-->
{% endblock %}
