{% extends 'partials/panel.html' %}

{% load buttons %}

{% block header_content %}
{% endblock %}

{% block panel_content %}
<div id="global_options_panel_left">
  <h1>Concert</h1>
  <h2>{{ page_name }}</h2>
</div>
<div id="global_options_panel_middle">
  <label for="collection_selector">Organize:</label>
  <select id="collection_selector" class="collection_selector">
  </select>
</div>

<div id="global_options_panel_right">
  
  {% large_icon_button 'Dashboard' 'dashboard' '/dashboard/' '' 'global_options_panel_button' %}
  
  {% large_icon_button 'Settings' 'settings' '/collections/' 'Manage collections, connect with friends' 'global_options_panel_button' %}
  
  {% large_icon_button 'Upload Audio' 'upload' '/audio/upload' 'Upload audio to a collection' 'global_options_panel_button' %}
  
  <div class="logout_info">
    Logged in as {{user.username}}.  <a href="/logout">Logout</a>
  </div>

</div>
{% endblock %}
