{% load extra_template_tags %}

<div id="detail_waveform_panel_top_left" class="detail_waveform_panel_top_left">
    {% verbatim %}
        <span id="detail_waveform_selected_name_container">
            <span id="detail_waveform_selected_name" class="editable_attribute">${name}</span>
            <input id="detail_waveform_selected_name_editable" value="${name}" class="attribute_editor" />
        </span>
    {% endverbatim %}
    
    <span id="detail_waveform_selected_verb">{% block verb %}{% endblock %} by</span>
    
    <span id="detail_waveform_selected_username">
        {% block username %}{% endblock %}
    </span>
</div>

<div id="detail_waveform_panel_top_right" class="detail_waveform_panel_top_right">
    {% block right %}{% endblock %}
</div>