{% extends 'base_site.html' %}

{% block content %}

{% if form.errors %}
<p class = 'error'>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">
  {% csrf_token %}
  {{ form.username.label_tag }}
  {{ form.username }}
  {{ form.password.label_tag }}
  {{ form.password }}
  <a href = "{% url django.contrib.auth.views.password_reset %}">Forgot your password?</a>
  
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>




{% endblock %}

