{% extends 'partials/panel.html' %}

{% load panels %}
{% load extra_template_tags %}


{% block panel_content %}
<p>Join or create a collection below.  You can also leave the collections you are a member of, or delete the collection if you have created it.</p>

<div id="create_join_widget" class="create_join_widget">
    <label for="create_join_input">Collection Name: </label>
    <input type="text" id="create_join_input" class="autoClear" value="Enter a new or existing collection name" size="40" />
    <div id="create_join_results" class="table"><!-- The search results go here --></div>
</div>

<div id="collection_info_widget_container" class="collection_info_widget_container">
    
</div>

{% endblock %}
