{% extends 'partials/panel.html' %}

{% load panels %}
{% load extra_template_tags %}

{% block header_content %}
{% endblock %}

{% block panel_content %}
<div id="create_join_input_container" class="create_join_input_container">
    <input type="text" id="create_join_input" class="create_join_input" placeholder="Enter a new or existing collection name" size="40" />
    <div id="create_results" class="create_results">
        {# Create 'search' results goes here #}
    </div>
</div>

<div id="create_join_results" class="create_join_results table">
    {# The search results go here #}
</div>

<div id="collection_info_widget_container" class="collection_info_widget_container">
    {# Info for a collection goes here #}
</div>

{% endblock %}
