{% extends 'partials/panel.html' %}

{% load extra_template_tags %}

{% block panel_content %}
<div id="manage_request_collections_table" class="table">
    <div id="manage_request_collections_table_header" class="manage_request_collections_table_header table-header table-row">
        <div id="manage_request_collections_table_header_name" class="table-cell">
            Collection
        </div>
        
        <div id="manage_request_collections_table_header_status" class="table-cell">
            Status
        </div>
        
        <div id="manage_request_collections_table_header_actions" class="table-cell">
            Actions
        </div>
        
    </div>
    
    
     
</div>
{% endblock %}
