{% extends 'partials/panel.html' %}


{% block panel_content %}
<div id="manage_collections_table" class="table">
    <div id="manage_collections_table_header" class="manage_collections_table_header table-header table-row">
        <div id="manage_collections_table_header_name" class="table-cell">
            Collection
        </div>
        
        <div id="manage_collections_table_header_users" class="table-cell">
            Users
        </div>
        
        <div id="manage_collections_table_header_actions" class="table-cell">
            Actions
        </div>
        
        <div id="manage_collections_table_header_requests" class="table-cell">
            Requests
        </div>
    </div>
    
    
     
</div>
{% endblock %}
