/*
*  Panels
*/
/* This is a panel on the UI, used for many things. */
div.panel {
    /* default panel values */
    position: relative;
    min-height: 60px;
    margin-left: 30px;
    margin-right: 30px;
}

/* This is the div that shows a loading notification on each panel */
div.panel_loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    text-align: center;
    opacity: 0;
    z-index: -1;
}

/* This is the actual loading notification (Animation or "Loading...") */
div.panel_loader_notification {
    position: relative;
    top: 50%;
    height: 1em;
    margin-top: -0.5em;
    color: white;
}

/* This class is added when the panel loader is to be displayed */
div.panel_loader_enabled {
    opacity: 0.7;
    z-index: 9999;
}

/*
*  Page Header.  We use the CSS3 box layout here, for more info:
*  http://hacks.mozilla.org/2010/04/the-css-3-flexible-box-model/
*  http://www.w3.org/TR/css3-box/#types
*/
div#global_options_panel {
    width: 900px;
    -webkit-box-orient: horizontal;
    display: -webkit-box;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#global_options_panel_contents {
    width: 900px;
    -webkit-box-orient: horizontal;
    display: -webkit-box;
}

div#global_options_panel_left {
    width: 300px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: start;
}

div#global_options_panel_left h1 {
    font-family: "Geosans Light", "Helvetica", Verdana, Arial, sans-serif;
    letter-spacing: 1.25em;
    font-size: 1.5em;
    font-weight: normal;
    text-transform: lowercase;
    display: -webkit-box;
    -webkit-box-flex: 1;
}

div#global_options_panel_left div#logout_info {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .75em;
    margin-left: 2em;
    margin-top: 1em;
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-align: baseline;
}

div#global_options_panel_left div#logout_info a{
    margin-left: 1em;
}

div#global_options_panel_middle {
    text-align: center;
    width: 300px;
}

div#global_options_panel_right {
    width: 300px;
    -webkit-box-pack: end;
    /* Contents (buttons) will also be horizontally spread using the box model */
    -webkit-box-orient: horizontal;
    display: -webkit-box;
}

div.global_options_panel_button {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

/*Overview Waveform Panel */
div#overview_waveform_panel {
    width: 900px;
    height: 80px;
    margin-bottom: 20px;
    display: -webkit-box;
}

div#overview_waveform_panel_contents {
    width: 900px;
    height: 80px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

div#overview_waveform_panel_top {
    background-color: #2e2e35;
    color: #f8f8fa;
    width: 898px;
    height: 58px;
    border: 1px solid white;
}

div#overview_waveform_panel_bottom {
    width: 900px;
    height: 20px;
}

/*Detail Waveform Panel */
div#detail_waveform_panel {
    width: 900px;
    height: 340px;
    margin-bottom: 20px;
    display: -webkit-box;
}

div#detail_waveform_panel_contents {
    width: 900px;
    height: 340px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

div#detail_waveform_panel_top {
    background-color: #f8f8fa;
    width: 820px;
    height: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-orient: horizontal;
    display: -webkit-box;
}

div#detail_waveform_panel_top_left {
    width: 410px;
    text-transform: uppercase;
}

div#detail_waveform_panel_top_right {
    width: 410px;
    text-align: right;
    text-transform: uppercase;
}

div#detail_waveform_panel_middle {
    width: 900px;
    height: 200px;
    -webkit-box-orient: horizontal;
    display: -webkit-box;
}

div#detail_waveform_panel_buf_left {
    background-color: #f8f8fa;
    width: 10px;
    height: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

div#detail_waveform_panel_view {
    background-color: #2e2e35;
    color: #f8f8fa;
    width: 818px;
    height: 198px;
    border: 1px solid white;
}

div#detail_waveform_panel_buf_right {
    background-color: #f8f8fa;
    width: 10px;
    height: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

div#detail_waveform_panel_bottom {
    background-color: #f8f8fa;
    width: 820px;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

div#detail_waveform_panel_tags {
    background-color: #b4b4ba;
    width: 858px;
    height: 18px;
    padding: 20px;
    border: 1px solid white;
}

span.tags {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #eeeef3;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 7px;
    padding-left: 7px;
    border: 1px solid black;
}