/*
*  Panels
*/

/* FONT IMPORT */
@font-face {
  font-family: "GeosansLight";
  src: url(/fonts/GeosansLight.ttf) format("truetype");
}

/* This is a panel on the UI, used for many things. */
div.panel {
    /* default panel values */
    position: relative;
    min-height: 60px;
}

/* This is the div that shows a loading notification on each panel */
div.panel_loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    text-align: center;
    opacity: 0;
    z-index: -1;
}

/* This is the actual loading notification (Animation or "Loading...") */
div.panel_loader_notification {
    position: relative;
    top: 50%;
    height: 1em;
    margin-top: -0.5em;
    color: white;
}

/* This class is added when the panel loader is to be displayed */
div.panel_loader_enabled {
    opacity: 0.7;
    z-index: 9999;
}

/*
*  Page Header.  We use the CSS3 box layout here, for more info:
*  http://hacks.mozilla.org/2010/04/the-css-3-flexible-box-model/
*  http://www.w3.org/TR/css3-box/#types
*/
div#global_options_panel {
    width: 960px;
    -webkit-box-orient: horizontal;
    display: -webkit-box;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#global_options_panel_contents {
    width: 100%;
    -webkit-box-orient: horizontal;
    display: -webkit-box;
}

div#global_options_panel_left {
    width: 320px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: start;
}

div#global_options_panel_left h1 {
    font-family: "GeosansLight", "Helvetica", Verdana, Arial, sans-serif;
    letter-spacing: 1.25em;
    font-size: 1.5em;
    font-weight: normal;
    text-transform: lowercase;
    display: -webkit-box;
    -webkit-box-flex: 1;
    padding-top: 25px;
    padding-left: 32px;
    background: url(/graphics/logo.png) left no-repeat;
}

/* NOT IN USE AT THE MOMENT
div#global_options_panel_left div#logout_info {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .75em;
    margin-left: 2em;
    margin-top: 1em;
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-align: baseline;
}


div#global_options_panel_left div#logout_info a{
    margin-left: 1em;
}

div#global_options_panel_middle {
    text-align: center;
    width: 320px;
}*/

div#global_options_panel_right {
	width: 640px;
    -webkit-box-pack: end;
    /* Contents (buttons) will also be horizontally spread using the box model */
    -webkit-box-orient: horizontal;
    display: -webkit-box;
}

div#global_menu ul{
	float: right;
	padding-top: 29px;
}

div#global_menu li{
	float: right;
	padding-left: 20px;
	list-style: none;
	font-size: 10px;
	font-family: Helvetica, sans-serif;
	text-transform: capitalize;
}

div#global_menu a:link, a:hover, a:visited{
	color: #282833;
	font-weight: bold;
	text-decoration: none;
	text-transform:uppercase;
}

div.global_options_panel_button {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

/*Overview Waveform Panel */
div#overview_waveform_panel {
    width: 960px;
    height: 80px;
    margin-bottom: 20px;
    display: -webkit-box;
}

div#overview_waveform_panel_contents {
    width: 960px;
    height: 80px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

div#overview_waveform_panel_top_wrap {
    background: -webkit-gradient(linear, left top, left bottom, from(#18181f), to(#45455a));
    
}

div#overview_waveform_panel_top {
    color: #f8f8fa;
    width: 958px;
    height: 58px;
    border: 1px solid white;
    -webkit-box-shadow:inset 0 0 10px #000000;
}

div#overview_waveform_panel_bottom {
    width: 960px;
    height: 20px;
}

div #overview_waveform_panel_playhead {
    height: 58px;
}

div.playhead {
  background-color: #FF0000;
  color: #FF0000;
  width: 1px;
  z-index: 300;
  position: absolute;
  
}

/*Detail Waveform Panel */
div#detail_waveform_panel {
    width: 960px;
    margin-bottom: 20px;
    display: -webkit-box;
}

div#detail_waveform_panel_contents {
    width: 960px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    background-color: #f8f8fa;
}

div#detail_waveform_panel_top_wrap{
-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    border-top: 1px solid white;
		border-right: 1px solid white;
		border-left: 1px solid white;
}

div#detail_waveform_panel_top {
    background: #f8f8fa;
    width: 878px;
    height: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-orient: horizontal;
    display: -webkit-box;
}

div#detail_waveform_panel_top_left {
    width: 440px;
    text-transform: uppercase;
}

div#detail_waveform_panel_top_right {
    width: 440px;
    text-align: right;
    text-transform: uppercase;
}

div#detail_waveform_panel_middle {
    width: 960px;
    height: 260px;
    -webkit-box-orient: horizontal;
    display: -webkit-box;
}

div.detail_waveform_panel_buf {
    width: 10px;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

div#detail_waveform_panel_buf_left {
}

div#detail_waveform_panel_buf_right {
    /* Because the view element is absolute */
    margin-left: 878px;
}

div#detail_waveform_panel_view {
	  color: #f8f8fa;
    width: 878px;
    height: 253px;
    border: 1px solid white;
    position: absolute;
    /* Do not allow waveform to overflow window */
    overflow-x: auto;
    overflow-y: hidden;
    background: -webkit-gradient(linear, left top, left bottom, from(#45455a), to(#18181f));
}

div#detail_waveform_panel_view_inner_wrap {
		width: 878px;
    height: 253px;
    -webkit-box-shadow:inset 0 0 10px #000000;
}

div #detail_waveform_panel_playhead {
    height: 253px;
}

div#detail_waveform_panel_bottom {
    background-color: #f8f8fa;
    width: 880px;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

div#detail_waveform_panel_tags {
    background: #b4b4ba;
    width: 948px;
    padding: 0px 0px 10px 9px;
    border: 1px solid white;
    -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.4);
}

div#detail_waveform_panel_waveform_timecode_playhead {
    position: absolute;
}

div#detail_waveform_panel_waveform_container {

}

div#detail_waveform_panel_timecode {
    height: 40px;
    background-color: gray;

    position: absolute;
    top: 200px;
    z-index: 200;
}

div#audiolist_panel_contents {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/**
 *  Waveform highlight
 **/
div.highlight_container {
  z-index: 300;
  position: absolute;
}
div.highlight {
  height: 100%;
  position: relative;
  background-color: white;
  opacity: 0.5;
}

/* Initially a highlight will be disabled */
div.highlight.disabled {
  visibility: hidden;
}

div#detail_waveform_panel_highlight_container {
  height: 253px;
}
div#overview_waveform_panel_highlight_container {
    height: 58px;
}

/**
 *  Waveform images
 **/
img.waveform_image {
    display: block;
    z-index: 100;
    position: absolute;
}

div.file_widget {
    width: 408px;
    height: 70px;
    border: 1px solid #000000;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    padding: 5px;
}

div.file_widget_icon {
    width: 78px;
    height: 68px;
    border: 1px solid #000000;
}

div.file_widget_info {
    width: 315px;
    height: 70px;
    padding-left: 5px;
}

div#create_join_panel, div#manage_admin_collections_panel, div#manage_member_collections_panel, div#manage_request_collections_panel {
    height: 100px;
}

div#create_join_input_container {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

span.tags {
		display: block;
		float: left;
		-webkit-box-orient: horizontal;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    background: #f8f8fa;
		padding: 4px;
		margin: 10px 9px 0px 0px;
    border: 1px solid white;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

/*AUDIO PANEL*/

div#audio_wrap{
border-left: 1px solid white;
width: 469px;
padding-left: 10px;
}

div#audio_search_wrap{
background: -webkit-gradient(linear, left top, left bottom, from(#18181f), to(#45455a));
}

div#audio_search{
height: 28px;
width: 447px;
margin-bottom: 10px;
-webkit-box-shadow:inset 0 0 10px #000;
color: white;
font-family: Georgia, serif;
border: 1px solid white;
font-size: 14px;
padding: 10px 10px 0px 10px;
}

div#audio_bar{
height: 60px;
width: 449px;
overflow: hidden;
margin-bottom: 10px;
padding: 0px 10px 10px 10px;
border-bottom: 1px black solid;
font-weight: bold;
text-transform: uppercase;
}

div#audio_bar .title{
font-size: 14px;
}

div#audio_bar .info{
padding-bottom: 10px;
}

div#audio_bar .tags{
font-weight: normal;
}

div#audio_bar .small_text{
font-size: 10px;
font-weight: normal;
padding-bottom: 8px;
}

div#audio_bar.selected{
background: white;
color: #2e2e35;
overflow: hidden;
padding-top: 10px;
border-bottom: none;
-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4)
}