/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
input::-moz-focus-inner { border: 0; }
body {
	line-height: 1;
	font-family:Arial, Helvetica, sans-serif;
	color:#626263;
	min-width:800px;
}
a {
	text-decoration:none;
	color:#626262;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}






/* True Global (All pages)*/
input {	
	-moz-border-radius-topleft:15px;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-bottomright:15px;
	-webkit-border-bottom-right-radius:15px;
	border:1px #b0b0b0 solid;
    padding:0 8px 0 8px;
	height:28px;
}

.error,.alert {color:red;height:30px;}

#main_wrapper > .alert {
  margin-top:50px;
  text-align:center;
}

.clear {clear:both;}

.no_show {display:none;}
.hidden {visibility:hidden;}

a {color:#333;}

/*index*/

#index_container {
	width:100%;
	height:100%;
	min-width:800px;
}



/*header*/
#header_wrapper {
	position:fixed;
	top:0;
	width:100%;
	z-index:3;
}

#header {
	height:150px;
	background:url(/graphics/header.jpg) top center no-repeat ;
	background-color:#f4f4f4;
	overflow:hidden;
	-moz-box-shadow:0px 1px 10px #999;
	box-shadow:0px 1px 10px #999;
	-webkit-box-shadow:0px 1px 10px #999;
}


#header_push {
  height:150px;
}

#links {
  position:fixed;
  top:10px;
  right:20px;
}

#links > li {
  display:inline;
  margin-left:10px;
}

#inner_wrapper {
	width:980px;
	margin:auto;
	
}

#controls {
	position:absolute;	
	top:50%;
	margin-top:-40px;
	width:150px;
	height:60px;
	float:left;
}

#play_button{float:left;}

#edit_button{float:right;}

.control_button {background:url(/graphics/button_reg.png) repeat-x;}

.control_button:active {background:url(/graphics/button_press.png) repeat-x;}

.control_button.disabled { opacity: 0.5; }
.control_button.disabled:active {background:url(/graphics/button_reg.png) repeat-x;}

.volume_slider {
	position:absolute;
	top:75px;
}

.volume_slider.disabled { opacity: 0.5; }
#slider {
	background:url(/graphics/volume_slider.png) repeat-x;	
	border:1px #999 solid;
	-moz-border-radius-topleft:15px;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-bottomright:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-topright:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-bottomleft:15px;
	-webkit-border-bottom-left-radius:15px;
	height:3px;
	/* Width must be defined in pixels for sliding to work correctly */
    width:100px;
}

#handle{
	top:71px;
	height:11px;
	width:1px;
	margin-left:3px;
	border:1px #999 solid;
	background:url(/graphics/handle.png) repeat-x;
	-moz-border-radius-topleft:15px;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-bottomright:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-topright:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-bottomleft:15px;
	-webkit-border-bottom-left-radius:15px;
}

#big_logo {
  margin:auto;
  position:relative;
  left:50%;
  margin-left:-102px;
  top:50%;
  margin-top:-26px;
}
.waveform {width: 800px;}

#waveform_editor {
    /*height: 585px;*/
    min-width: 800px;
    overflow: hidden;
    z-index: 5;
    position: absolute;
}
#waveform_editor_push {
    height: 800px;
}

#editor_image {z-index: 0;}
#waveform_editor_image {left: 400px;}

#editor_playhead {
    margin-left: 400px;
    position: absolute;
    height: 585px;
    z-index: 1;
}

.editor_highlight { 
    position: relative;
    margin-left: 0px;
    width: 100%;
    height: 585px;
    background-color:#00FFFF;
    border-left: 1px solid #FFFAFA; 
	border-right: 1px solid #FFFAFA;
	opacity: 0.25;
	
}

#editor_highlight {
    height: ;
}

#editor_highlight_highlight {
    z-index: 4;
}

#editor_highlight_static_highlight {
    z-index: 2;
    height: 553px;
}

#editor_highlight_static_tags {
    z-index: 4;
    height: 20px;
}


.editor_highlight_container {
    position: absolute;
    width: inherit;
}

.highlight_static_tags {
    font-size: 50%!important;
    color: white !important;
    border: 1px solid black !important;
    /** Rounded corners **/
    -moz-border-radius: 5px !important; /* FF1+ */
    -webkit-border-radius: 5px !important; /* Saf3+, Chrome */
    border-radius: 5px !important; /* Opera 10.5, IE 9 */
    /** gradient **/
    background-color: black !important;
    background-image: -moz-linear-gradient(top, #CC0000, #000000)!important; /* FF3.6 */
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #CC0000),color-stop(1, #000000)) !important; /* Saf4+, Chrome */
              filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#CC0000', EndColorStr='#000000') !important; /* IE6,IE7 */
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#CC0000', EndColorStr='#000000')" !important; /* IE8 */
          
    /*opacity: 1.0 !important;*/
    display: block !important;
    z-index: 3;
    position: relative;
    padding: 5px;
}




.waveform_image {
    width: inherit;
    position: relative;
}

#waveform_viewer {
	float:right;
	margin-top:7px;
	height:130px;
	border:1px #e4e4e4 solid;
	overflow:hidden;
	-moz-border-radius-topleft:15px;
	-webkit-border-top-left-radius:15px;
	background:url(/graphics/viewer_back.png) repeat-x;
}

.playhead {
  width:1px; 
	background-color: #aaddff;
	
}


#viewer_timecode{
	background:url(/graphics/logo.png) top left no-repeat;
	overflow:hidden;
	margin:2px 5px 2px 20px;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-align:right;
	font-weight:bold;
	height:20px;
	z-index:2;
}

.viewer_highlight {
	background-color:#00FFFF; 
	z-index:3;
	opacity:.25;
	position: absolute; 
	margin-left: 0px;
	width: 0px;
	height:106px;	
	outline:1px #333 solid;
	
}


#viewer_playhead {
	margin-left:0px;
	position: absolute;
	z-index: 1;
	height:100px;
}

.no_audio {
    width:auto; !important
    height:auto; !important
}


.default {
    width:auto !important;
    height:auto !important; 
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-24px;
    
}

/*body*/
#main_wrapper {
	postion:absolute;
	top:150px;
	width:100%;	
	position:absolute;
	z-index:2;
	min-width:1000px;
}

/*library filters & search */
#left_wrapper {
	width:250px;
	height:100%;
	float:left;
	margin-right:10px;
	z-index:-0;
}


#left_wrapper .current {
	color:#F00;
}

#left_wrapper > div {
	margin-left:20px;
	margin-top:30px;
}

#left_wrapper li {
	margin-top:10px;
	margin-left:10px;
}

#left_wrapper span {color:#999;}

.dataTables_filter {display:none;}

#search > input{

	padding:0 8px 0 8px;
	height:28px;
	color:#CCC;
	margin:30px 20px 0 20px;
  width:210px;
}

#search > input:focus {color:#585859;}

#groups ul li.selected {
        font-weight: bold;
}

#tags ul li.selected {
        font-weight: bold;
}

/*library*/
#right_wrapper {
	overflow:hidden;
	z-index:2;
}

div.above_table{
  height:30px;
  background-color:#ddd;
  border:1px #c1c1c1 solid;
  border-top:0;
  border-right:0;
  overflow:hidden;
  vertical-align:middle;
  height:40px;
  
}

div.above_table > div {
  overflow:hidden;
  vertical-align:middle;
  height:inherit;
}

div.above_table > div > * {
  vertical-align:middle;
}

div.dataTables_paginate {
  width:50px !important;
}

table.segments_table {
  overflow:hidden;
  width:100%;
	z-index:2;
	padding-left:250px;
}


table.segments_table tbody tr, table.segments_table tbody td {
    height:45px;
}

table.segments_table tbody tr:nth-child(odd) {background-color:#f2f2f2;}

table.segments_table tbody tr:nth-child(even) {background-color:#edf0f2;}

table.segments_table thead tr{
	height:30px;
	background-color:#e8e8e8;
}

table.segments_table th, table.segments_table td {
    /*width:14.28%;*/
    padding-left:20px;
}

table.segments_table td {
	border-left:1px #e7e7e7 solid;
	border-top:2px #fff solid;
	padding-top:13px;

}

table.segments_table th {
	border-left:1px #c1c1c1 solid;
	text-align:left;
	padding-top:6px;
	background-repeat: no-repeat;
	background-position: right center;
}

table.segments_table th.sorting_asc {
    background-image: url('/graphics/icons/arrow-090-medium.png');
}
table.segments_table th.sorting_desc {
    background-image: url('/graphics/icons/arrow-270-medium.png');
}


table.segments_table tbody tr:hover {
	background-color:#999;
	color:#fff;
}

div.dataTables_paginate div {
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
}

div.paginate_disabled_next {
    float:right;
    background-image: url('/graphics/icons/arrow.png');
    opacity: .5;
}

div.paginate_enabled_next {
    float:right;
    background-image: url('/graphics/icons/arrow.png');
    opacity: 1;
}

div.paginate_disabled_previous {
    background-image: url('/graphics/icons/arrow-180.png');
    float: left;
    opacity: .5;
}

div.paginate_enabled_previous {
    background-image: url('/graphics/icons/arrow-180.png');
    float: left;
    opacity: 1;
}

div.below_table {
    width: 100%;
    display: table-row;
    text-align: center;
}

div.dataTables_info {
    display: table-cell;
    width: 100px;
}
div.dataTables_length {
    display: table-cell;
    width: 200px;
}
div.dataTables_paginate {
    display: table-cell;
    width: 50px;
}

#comment_container{
    margin-top:50px;
}

.comment {
    margin:20px 5px;

}
.comment h2 {
    font-size:14px;
    margin-bottom:10px;
}
#comment_form {
    margin-top:5px;
}





#login_wrapper {
	width:700px;
	margin:auto;
	margin-top:23px;
	text-align:center;
}

#login {margin-top:7px;}

#login_wrapper #logo{float:left;}

#login_wrapper form {
	float:right;
	text-align:right;
}

#register_wrapper {
  margin-top:50px;
	width:700px;
	overflow:hidden;
	margin:auto;
}

#register_wrapper p {
	line-height:23px;
	text-align:right;
	margin-top:20px;
	width:100%;
}

#register_wrapper > form {
  float:right;
  width:300px;
}

#register_wrapper > form > p {
  margin-top:15px;
  height:20px;
  clear:both;
}


#register_wrapper > form > p > label {
  float:left;
}

#register_wrapper > form > p > input {
  float:right;
  
}

#admin_container {
  overflow:visible;
  padding-bottom:400px;
}

.admin_module {
    border-left:1px #666 dashed;
    padding:1%;
    float:left;
    margin-top:50px;
    margin-left:2.5%;
    margin-right:2.5%;
    width:26%;
    min-height:100px;
}

.admin_module > h1 {
  text-decoration:underline;
  margin-bottom:20px;
}

.admin_module > h2 {
  font-weight:normal;
  font-style:italic;
  margin-bottom:20px;
}

#join_group.admin_module li {
  font:inherit;
  color:inherit;
}

.inline {
    display: inline;
}

.sidebar_manage_link {
    margin-left: 10px;
    font-size: 70%;
}

.pencil {
    background-image: url('/graphics/icons/pencil-small.png');
}

.check {
    background-image: url('/graphics/icons/tick.png');
}

.button {
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 16px;
    width: 16px;
    display: block;
    cursor: pointer;
}

.button_text {
    background-repeat: no-repeat;
    background-position: right center;
    text-align: left;
    height: 16px;
    padding-right: 16px;
}

.loading {
    background-image: url('/graphics/ajax-loader.gif');
}

/**
 *  Icons
 **/
.tags-label {
    background-image: url('/graphics/icons/tags-label.png');
}

.tags {
    background-image: url('/graphics/icons/tags.png');
}

.tag-plus {
    background-image: url('/graphics/icons/tag--plus.png');
}

.cross {
    background-image: url('/graphics/icons/cross.png');
}

.music-pencil {
    background-image: url('/graphics/icons/music--pencil.png');
}

.hand-share {
    background-image: url('/graphics/icons/hand-share.png');
}


.float_left {
    float: left;
}

.float_right {
    float: right;
}

.clear_both {
    clear: both;
}

.vertical-align_middle {
    vertical-align: middle;
}


/** This stuff was in devel.css file ***/
#user_container {
  width:500px;
  margin:auto;
}

.user {
  margin-top:20px;

}

.add_user {
  margin-top:50px;
}

.add_user > a {
  text-decoration:underline;
}

#home_link {
  margin-top:10px;
  margin-bottom:10px;
  text-decoration:underline;
  font-weight:bold;
  font-size:18px;
}
