/*  @file styles.sass
 *  Global styles that all pages use. */

/*  Resets */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins,
q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section {
  display: block;
}

a img {
  border: 0;
}

figure {
  position: relative;
}

figure img {
  width: 100%;
}

/*Typography Presets */
h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.4em;
}

body {
  font: 12px "Helvetica", Verdana, Arial, sans-serif;
}

/*Page layout */
body {
  background: #eeeef3;
  padding: 0;
  width: 960px;
  margin: auto;
}

div.layout {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

div.layout_top {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.layout_middle {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

div.layout_bottom {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

div.layout_left {
  width: 50%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

div.layout_right {
  width: 50%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

div.file_thumb {
  display: table-cell;
}

img.file_thumb_img {
  width: 6em;
  height: 3em;
}

div.file_info {
  vertical-align: middle;
  display: table-cell;
  padding-left: 1em;
}

div.file_actions {
  padding-left: 1em;
  vertical-align: middle;
  display: table-cell;
}

/*Buttons */
button {
  cursor: pointer;
}

button.disabled {
  cursor: default;
  opacity: 0.5;
}


button.image-button {
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: 0;
}


button.text-button {
  padding: 0.5em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}


button.cross {
  background-image: url("/graphics/icons/cross.png");
}


button.settings {
  /*    background-image: url('/paths/settings.svg') */
  background-size: 1000%;
  background-position: 50% 50%;
  height: 50px;
  width: 50px;
}

/*    Large Icon Buttons      */
/* Container */

div.large-icon-button {
  height: 60px;
  width: 60px;
  cursor: pointer;
  text-align: center;
}

/* Icon */

button.large-icon-button-icon {
  height: 40px;
  width: 40px;
}

/* Label */

label.large-icon-button-label {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .75em;
}


label.large-icon-button-label.hover {
  text-decoration: underline;
}

/*********************** Modal Overlay Styles *********************** */
/* blue */

.blue {
  color: #d9eef7;
  border: solid 1px #0076a3;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top, #00adee, #0078a5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}


button.blue:hover {
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top, #0095cc, #00678e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}


button.blue:active {
  color: #80bed6;
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
  background: -moz-linear-gradient(top, #0078a5, #00adee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

/*Overlay modal box */

div.modal-overlay {
  outline: 0 !important;
  display: none;
}


div.modal-overlay-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999999;
  background: rgba(230, 235, 209, 0.7);
}


div.modal-overlay-pane {
  top: 40%;
  left: 40%;
  position: absolute;
  z-index: 10000001;
  min-width: 200px;
  -webkit-box-shadow: 0px 0px 4px #241f1b;
}


div.modal-overlay-content {
  background: #201913;
  /*padding: 10% 15% 10% 15% */
  padding: 0.8em;
  color: white;
  border-left: 2px solid #4d433b;
  border-right: 2px solid #4d433b;
  border-bottom: 2px solid #4d433b;
  max-width: 768px;
  max-height: 512px;
  overflow: auto;
}


div.modal-overlay-header {
  padding: 0.8em;
}


h2.modal-overlay-header {
  display: inline;
  float: left;
}


button.modal-overlay-close-button {
  display: inline;
  float: right;
  margin-left: 1em;
}


div.modal-overlay-close-button {
  float: right;
  margin-right: 1em;
  margin-top: 1em;
}


div.modal-overlay-confirm {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00adee), color-stop(0.2, #00adee), color-stop(1, #0078a5));
  border: solid 1px #0076a3;
  padding: 1em 0em;
}


div.modal-overlay-confirm button {
  float: right;
  margin-right: 1em;
  margin-left: 1em;
}

/* Misc visuals */
/* Corner radius */

.corner-tl {
  -moz-border-radius-topleft: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
}


.corner-tr {
  -moz-border-radius-topright: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
}


.corner-bl {
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}


.corner-br {
  -moz-border-radius-bottomright: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}


.corner-top {
  -moz-border-radius-topleft: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
}


.corner-bottom {
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}


.corner-right {
  -moz-border-radius-topright: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}


.corner-left {
  -moz-border-radius-topleft: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}


.corner-all {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}

/* Div-tables */

.table {
  display: table;
}


.table-row {
  display: table-row;
}


.table-cell {
  display: table-cell;
}

/*Utilities, hacks */

.clear {
  clear: both;
}


.hidden {
  visibility: hidden;
}


.floatLeft {
  float: left;
}