{% extends 'base.html' %}

{% block content %}
<div id = "index_container">
    {% include "waveform-viewer-header.html" %}

    <div id = "main_wrapper">
        <div id = "left_wrapper">
            <form id = "search">
                <input type = "text" value = "Search"/>            
            </form>

            <div id = "groups">
                <h1 class="inline">Groups</h1><span class="sidebar_manage_link"><a href="/users/{{ user.id }}/groups/">manage</a></span>
                <ul>
                    {% for group in group_list%}

                    {% comment %} Add "selected" class to the currently selected group. {% endcomment %}

                    {% ifequal group selected_group %}
                        <li class="group selected" id="group-{{ group.id }}">
                    {% else %}
                        <li class="group">
                    {% endifequal %}
                            <a href="?selected_group_id={{ group.id }}"> {{ group.name }} </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div id = "Tags">
                <h1 class="inline">Tags</h1><span class="sidebar_manage_link"><a href="/tags/manage">manage</a></span>
                <ul>
                    {% for tag in tag_list %}
                    
                        {% comment %} Add "selected" class to the currently selected tag. {% endcomment %}
                        
                        {% ifequal tag.id selected_tag.id %}
                            <li class="selected"><a href = "?selected_tag_id={{ tag.id }}">{{ tag.tag }}</a></li>
                        {% else %}
                        <li><a href = "?{% if getGroup %}selected_group_id={{ getGroup }}&{% endif %}selected_tag_id={{ tag.id }}">{{ tag.tag }}</a></li>
                        {% endifequal %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id = "right_wrapper">
            <table class="segments_table">
                <thead>
                    <tr id = "title_bar">
                        <th>Tags</th>
                        <th>Label</th>
                        <th>In</th>
                        <th>Out</th>
                        <th>Share</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% if segment_list %}
                        {% for segment in segment_list %}
                            {% comment %} For each segment row, store segment id in id attribute, and audio id in data-audioid attribute (this is valid HTML5) {% endcomment %}
                            <tr id="segment_row-{{ segment.id }}" class="segment_row" data-audioid="{{ segment.audio.id }}">
                                <td>{{ segment.tag_list }}</td>
                                <td>{{ segment.name }}</td>
                                <td id="segment_start-{{ segment.id }}">{{ segment.beginning }}</td>
                                <td id="segment_end-{{ segment.id }}">{{ segment.end }}</td>
                                <td id="segment_share-{{ segment.id }}"><span id="segmentShareButton-{{ segment.id }}" class="segmentShareButton button hand-share" title="Share this segment with a group"><!-- --></span></td>
                                <td id="segment_delete-{{ segment.id }}">
                                    <span id="segmentDeleteButton-{{ segment.id }}-{{ selected_group.id }}" class="cross button segmentDeleteButton" title="Delete this segment"><!-- --></span>
                                </td>
                                <td><a class="segmentEditButton button music-pencil" href="/edit/{{ segment.id }}/{{ selected_group.id }}/" title="Edit this segment"><!-- --></a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>No audio found.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            {% if selected_tag.tag %}
            <div id = "comment_container">
                <h1>Comments on "{{ selected_tag.tag }}" Tag</h1>
                {% if comments %}
                    {% for comment in comments %}
                    <div class = "comment">
                        <h2>{{comment.user.username }} wrote:</h2>
                        <p>{{ comment.comment }}</p>                          
                    </div>
                    {% endfor %}
                {% else %}
                    <div class = "comment">
                        <h2>There aren't any comments on this tag</h2>
                    </div>
                {% endif %}

                <form id = "comment_form" action="tags/comment/{{ selected_tag.id }}/{{ selected_group.id }}/" Method = "POST">
                    <h1>Comment on "{{ selected_tag.tag }}" Tag</h1>
                    {{commentForm.comment}}
                    <p><input type="submit" id="submit_comment_button" value="Submit" /></p> 
                </form>  
            </div>

            {% endif %}
        </div>
    </div>
</div>


<script src="/js/main.js"></script>
{% endblock %}
